/*.scroll-bg {
    background-color: rgba(0, 0, 0, 0.5); /* Primer za poluprozirnu pozadinu */
 /* }*/

 @keyframes scrollBg {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-330px);
    }
  }
  
  /*.scroll-bg {
    height: 100%;
    width: 100%;
    position: fixed;
    padding-bottom: 330px;
    background-color: #E8BA9B;
    background-image: url('https://andreivictor.ro/codepen/scroll-bg-animation-pinterest/bg_pasta_grid-3f880df3.jpg');
    background-size: cover;
  }*/

  body{
    background-image: url('https://andreivictor.ro/codepen/scroll-bg-animation-pinterest/bg_pasta_grid-3f880df3.jpg');
  }
  
  .korpa {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background: #fff; /* ili neka druga boja pozadine */
    border-radius: 8px; /* opcionalno zaobljavanje ivica */
    position: relative;
  }

  
  .korpa-stavke {
    width: 70%;
  }
  
  .korpa-stavka {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .korpa-stavka-slika {
    width: 80px;
    /*margin-right: 15px;*/
  }
  
  .korpa-stavka-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .korpa-stavka-opis {
    flex-grow: 1;
  }
  
  .korpa-stavka-kontrole {
    display: flex;
    align-items: center;
  }
  
  .korpa-stavka-cena {
    font-weight: bold;
    margin-right: 20px;
  }
  
  .korpa-stavka-ukloni {
    background-color: #ff4d4d;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
  }
  
  .korpa-ukupno {
    width: 30%;
    position: absolute;
    right: 10px;
    bottom: 40px;
  }
  
  .korpa-ukupno h3 {
    margin-top: 0;
  }

  #linija{
    width: 840px;
  }

  .dugme_placanje{
    background-color: #218618;
    margin-left: 5px;
    color: black;
    border: 1pc;
    border-radius: 25px;
    padding: 12px 15px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px;
    height: 40px;
  }

  .dugme_placanje:hover{
    background-color: rgb(99, 158, 91);
    color: black;
}