.namirnice {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 20px;
    align-items: center;
  }

  .namirniceStranica{
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .pagination {
    display: flex;
    justify-content: center;
    background: transparent;
  }
  
  .pagination button {
    margin: 0 4px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color:#218618;
  }
  
  .pagination button.active {
    background-color:#218618;
    color: #fff;
    border: 1px solid #218618;
  }

  
